body, #editorPage, #blogPage {
    background: url('../images/bg.jpg');
}

#editorForm {
    background: white;
    margin: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

#editorForm .md-title {
    margin: 10px;
}

.form-content {
    margin: 8px;
}

.blog-sidebar {
    background: white;
    margin-top: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.md-card-image {
    height: 400px;
    width: auto;
    object-fit: cover;
}